<div class="container">
  <div class="header">
    <!-- BANNER AREA -->
    <div class="header_banner"
    [ngStyle]="{
      'background-image': 'linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.3)), url('+headerBGUrl+')'
    }"
    >
      <h2>{{upcoming?.results[0].title}}</h2>
      <div class="header_buttons">
        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>
      </div>
    </div>

    <!-- MAIN AREA -->

    <div class="header_main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
      <div class="header_left">
        <a routerLink="/">
          <img src="assets/Netflix_2014_logo.svg.png" alt="netflix_logo" style="width: 100px;">
        </a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Tv Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Latest</a></li>
          <li><a href="#">My List</a></li>
        </ul>
      </div>

      <div class="header_right">
        <ul>
          <li>
            <mat-icon>search</mat-icon>
            <input
              [(ngModel)]="search"
              type="text"
              placeholder="Search Box">
          </li>
          <!--
          <li><a href="#">Children</a></li>

          <li><a href="#"><mat-icon>card_giftcard</mat-icon></a></li>
          <li><a href="#"><mat-icon>notifications</mat-icon></a></li>
          -->
          <li>
            <!-- <img src="http://www.begool.it/img/manga-avatar-5.gif" alt="avatar" style="width: 50px"> -->
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="body"
    style="margin-top: 30rem;"
  >
    <app-slider title="Trending" [movies]="upcoming" [sliderConfig]="sliderConfing">
      <div>
        <h1>HELLO</h1>
      </div>
    </app-slider>
    <app-slider title="Popular" [movies]="popular" [sliderConfig]="sliderConfing"></app-slider>
    <app-slider title="Top rated" [movies]="topRated" [sliderConfig]="sliderConfing"></app-slider>
    <!-- <app-slider title="Latest" [movies]="latest" [sliderConfig]="sliderConfing"></app-slider> -->
    <app-slider title="Now Playing" [movies]="nowPlaying" [sliderConfig]="sliderConfing"></app-slider>
    <!-- <app-slider title="Originals" [movies]="originals" [sliderConfig]="sliderConfing"></app-slider> -->
  </div>
</div>


